.featured-container{
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.featured-course{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    scrollbar-width: auto;
    align-items: center;
    gap: 10px;
}

.course-display{
    justify-self: center;
    align-self: center;
    margin: auto;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}