.profile-dropdown {
  position: absolute;
}

#navbar{
  display: flex;
  align-items: center;
  height: 50px;
  padding: 2px;
  margin-top: 5px;
}
.right-nav{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  gap: 10px;
  height: 100%;
}

#navbar > button {
  display: flex;
  height: 100%;
  width: 30vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
}

.NavLink {
  display: flex;
  height: 100%;
  width: 30vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  text-decoration: none;
}

.NavLink  > img {
  position: relative;
  z-index: 99;
  width: 100%;
  object-fit: cover;
} 


.nav-button{
  display: flex;
  height: 100%;
  width: 30vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.two{
  cursor: default;
}

.nav-button:hover{
  background-color: darkgray;
}

.category-menu{
  position:relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 9999;
  background-color: gray;
  border-radius: 10px;
  border: 2px solid aliceblue;
  margin-top: 10px;
  
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: fit-content;
  
}
.category-menu > a{
  display: flex;
  padding: 10px;
  color: aliceblue;
}
.category-menu > a:hover{
  background-color: darkgray;
  cursor: pointer;
}